<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
					@if (!context.User.Identity.IsAuthenticated)
					{
						<RedirectToLogin />
					}
					else
					{
						<p>Lo siento, pero no tienes acceso a esta página.</p>
					}
				</NotAuthorized>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<p>Lo siento, no se encontró la página solicitada.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>
