@page "/novelties/today/{PageNumber:int?}"
@using StoriesLibrary.Shared
<h2>Novedades de hoy, página @PageNumber</h2>
@if (_stories == null)
{
	<p>Cargando historias...</p>
}
else
{
	<StoriesTable Caption="Tabla con las novedades de hoy" Stories="@_stories" />
	<ul class="list-group list-group-horizontal">
		@foreach (var i in Enumerable.Range(1, 5))
		{
			<li class="list-group-item"><NavLink href="@($"/novelties/today/{i}")" Match="NavLinkMatch.All" aria-label="@($"Página {i}")">@i</NavLink></li>
		}
	</ul>
}