<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<p>Lo siento, no se encontró la página solicitada.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>
